.effectsFactory h3{
    margin: 0;
    text-align:left;
    color: #000;
    padding-left: 10px;
}
.effectsFactory{
    color: #000;
}
.effectsFactory li{
    width: 220px;
    display: inline-block;
    border: 2px solid #575C62;
    background: #fff;
    text-align:center;
    padding-top:10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.effectsFactory li:hover{
    border: 2px solid #55a4f2;
    cursor: pointer;
}
.effectsFactory li img{
    width: 200px;
}
.effectsFactory .lightFont{
    color: #888;
    font-weight: 100;
    font-size: 12px;
    padding-bottom:5px;
    text-shadow: none;
    -webkit-text-shadow: none;
}
.effectsFactory li .author{
    float: left;
    padding-left: 10px;
}
.effectsFactory li .date{
    float: right;
    padding-right: 10px;
}
.runtimePanel{
    position: fixed;
    background: #fff;
    transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.3s;
    z-index: 999;
    border-radius: 6px;
    left: 50%;
    box-shadow: 0 0 4px 0px #000;
    -webkit-box-shadow: 0 0 4px 0px #000;
    top: -2000px;
    overflow: hidden;
}
.runtimePanel .close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
}
.runtimePanel .close:hover{
    color: #ccc;
    cursor: pointer;
}
.runtimePanel h3{
    background: #229bd7;
    margin: 0;
    padding: 5px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: inset 0px -2px 7px 0px #06B;
    -web-box-shadow: inset 0px -2px 7px 0px #06B;
}
.runtimeWrapper{
    display: box;
    display: -webkit-box;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
}
.source{
    position: absolute;
    right: 0;
    width: 40%;
    background: #000;
    height: 100%;
    transition: all 0.2s ease-in;
    display: -webkit-box;
    display: box;
    transform: translate(900px ,0);
    -webkit-transform: translate(900px ,0);
}
.source .closeSource{
    width: 25px;
    background: #C4C4C4;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: "黑体";
    cursor: pointer;
}
.codeWrapper{
    box-flex: 1;
    -webkit-box-flex: 1;
    line-height: 22px;
    padding-left: 5px;
}
.source .closeSource:hover{
    background: #8A8A8A;
}
.source #souceCode{
        margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25px;
        right: 0;
        min-height: 1000px;
        font-size: 14px;
        line-height: 26px;
}
.aside{
    width: 200px;
    background: #E1ECF7;
    border-bottom-right-radius: inherit;
    box-shadow: -2px 0 6px 0px rgba(154, 154, 155, 0.45);
    -webkit-box-shadow: -2px 0 6px 0px rgba(154, 154, 155, 0.45);
    line-height: initial;
}
.aside .info{
    padding:0;
    margin: 0;
    padding-top: 13px;
    color: #5C728D;
    text-shadow: none;
    -webkit-text-shadow: none;
}
.aside .info li{
    padding-top: 10px;
    margin-left: 10px;
}
.aside h4{
    text-align:center;
    padding-top: 40px;
    margin: 0;
}
.runtimePanel .content{
    box-flex: 1;
    -webkit-box-flex: 1;
}
.runtimePanel .oper{
    text-align:center;
}
.runtimePanel .oper li{
    display: inline-block;
}
a.button, a.button span {
    -moz-border-radius: .3em;
    border-radius: .3em;
}
a.button {
    margin: 10px;
    text-decoration: none;
    font: bold 1.5em 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #9c9c9c;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    padding: 0;
    cursor: pointer;
}

a.button-green {
    background: #428739;
    background: -webkit-gradient(linear, left top, left bottom, from(#c8dd95), to(#428739) );
    background: -moz-linear-gradient(-90deg, #c8dd95, #428739);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#c8dd95', EndColorStr='#428739');
}
a.button-orange {
    background: #f09c15;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8c939), to(#f09c15) );
    background: -moz-linear-gradient(-90deg, #f8c939, #f09c15);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#f8c939', EndColorStr='#f09c15');
}

a.button span {
    border-top: 1px solid #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    padding: 10px;
    font-size: 22px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%), -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
    -moz-background-size: 3px 3px;
    -webkit-background-size: 3px 3px;
    font-family: Microsoft Yahei;
    font-weight: 100;
}
#showPic{
    position: absolute;
    top: 59px;
    left: 15px;
    z-index: 9999;
}

.download{
    margin-top: 20px;
    padding-left: 13px;
    display: none;
}
.download a span{
    font-size: 18px;
}
